body {
  font-family: 'Dosis', sans-serif;

  background-color: #282c34;
}

.ui.button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.form input[id='query'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

h2.ui.header {
  font-family: 'Dosis', sans-serif;
  color: whitesmoke;
  font-size: 3rem;
}

/* html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} */
#myChart {
  width: 100%;
  min-height: 150px;
}

/* .zc-ref {
  display: none;
} */

#myChart-graph-id0-path {
  fill: none;
}
