body {
  font-family: 'Dosis', sans-serif;

  background-color: #282c34;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h2.app-header {
  font-family: 'Dosis', sans-serif;
  color: whitesmoke;
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}

.g-signin2 {
  width: 8rem;
  margin: 0 auto;
}

#signout-button {
  color: white;
  width: 118px;
  margin: 0 auto;
  padding: 0;
  background-color: #4285f4;
  display: flex;
  flex-direction: row;
  border: none;
  height: 2.5rem;
  justify-content: space-between;
}

.google-logo {
  width: 2.5rem;
  border: none;
  padding: 0.1rem;
  margin: 0;
}

#signout-button:hover {
  box-shadow: 0 0 4px #4285f4;
}

p:last-child {
  margin: auto;
}

.signout-text {
  width: 100%;
}

#textSaveButton {
  border-top-right-radius: 0.285714rem;
  border-bottom-right-radius: 0.285714rem;
  margin-bottom: 1rem;
}

.ui.form input[id='query'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.285714rem;
  border-bottom-right-radius: 0.285714rem;
}

.ui.action.input:not([class*='left action']) > input {
  border-top-right-radius: 0.285714rem !important;
  border-bottom-right-radius: 0.285714rem !important;
}

#recordingUpdate {
  color: crimson;
}

#myChart {
  width: 100%;
  min-height: 150px;
}

#myChart-graph-id0-path {
  fill: none;
}

.dream-list {
  color: whitesmoke;
  text-align: left;
}

.dream-list-item {
  margin-bottom: 3rem;
}

#status.ui.info.message {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.ui.icon.input {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.container {
    width: 800px;
  }
  #status.ui.info.message {
    width: 100%;
  }
  .ui.icon.input {
    width: 75%;
  }
}

/* @media only screen and (min-width: 320px) and (max-width: 400px) {
  .app-header {
    font-size: 3rem;
  }
} */
