body {
  font-family: 'Dosis', sans-serif;

  background-color: #282c34;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.app-header {
  font-family: 'Dosis', sans-serif;
  color: whitesmoke;
  font-size: 3rem;
  text-align: center;
}

.g-signin2 {
  width: 8rem;
  margin: 0 auto;
}

#textSaveButton {
  border-top-right-radius: 0.285714rem;
  border-bottom-right-radius: 0.285714rem;
  margin-bottom: 1rem;
}

.ui.form input[id='query'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.285714rem;
  border-bottom-right-radius: 0.285714rem;
}

.ui.action.input:not([class*='left action']) > input {
  border-top-right-radius: 0.285714rem !important;
  border-bottom-right-radius: 0.285714rem !important;
}

#recordingUpdate {
  color: crimson;
}

#myChart {
  width: 100%;
  min-height: 150px;
}

#myChart-graph-id0-path {
  fill: none;
}

.dream-list {
  color: whitesmoke;
  text-align: left;
}

.dream-list-item {
  margin-bottom: 3rem;
}

#status.ui.info.message {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.ui.icon.input {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.container {
    width: 800px;
  }
  #status.ui.info.message {
    width: 100%;
  }
  .ui.icon.input {
    width: 75%;
  }
}
/*Remove License

/* #myChart-license-text {
  display: none;
} */
